.banner{
    background-image: url("../../../Assets/Images/background.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.banner-detail{
    height: 80vh;
}
.banner-description{
    background-color: rgba(0, 0, 0,0.8);
}
.banner-description a{
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}
.banner-description a:hover{
    background-color: #B8282F;
    border: 2px solid #B8282F;
}